FILENAME = 'DATA BASE PEMBIAYAAN.xlsx'
SHEETNAME = 'DATA PEMBIAYAAN'

FORMAT_HM2 = 'Kepada bpk/ibu/sdr/sdri {kelompok}, dengan hormat, kami ingin mengingatkan bahwa pembayaran untuk *angsuran ke {periode_angsuran}* dengan total sebesar {angsuran_total} jatuh tempo pada tanggal {tgl_tempo}. Mohon segera dilakukan pembayaran agar tidak ada kendala. Terima kasih atas perhatian dan kerjasamanya.'
FORMAT_H0 = 'Selamat siang mengingatkan bahwa pembayaran kelompok spp nasabah atas nama {kelompok} Desa {desa} Sebesar {angsuran_total} Hari ini batas akhir pembayaran *angsuran ke {periode_angsuran}*. Mohon segera dilakukan pembayaran maksimal sampai dengan jam 23.59 wib.{enter}Abaikan pesan ini apabila sudah melakukan pembayaran.'
FORMAT_T1 = 'Selamat siang berdasarkan catatan pembukuan BUMDes Bersama Pangkalan Lada Makmur, nasabah atas nama {kelompok} Desa {desa} Tagihan bulan lalu belum dilunasi, mohon segera selesaikan pembayaran'
FORMAT_T2 = 'Selamat siang berdasarkan catatan pembukuan BUMDes Bersama Pangkalan Lada Makmur, nasabah atas nama {kelompok} Desa {desa} Memiliki tagihan sebesar {tunggakan_total} Sudah terlambat dari jatuh tempo seharusnya bulan {last_due_month} Tahun {last_due_year}, mohon segera selesaikan pembayaran.'
FORMAT_AR = 'Terimakasih,{enter}ini merupakan pesan otomatis segera lakukan konfirmasi dengan petugas BUMDes Bersama Pangkalan Lada Makmur.'

DELAY_AR = 7000
DELAY_NTMIN = 60000
DELAY_NTMAX = 120000